<div class="container">
  <div class="row">
    <div class="col backBtn-col">
      <a [routerLink]= "['/categories']" class="btn btn-primary backBtn">Atras</a>
    </div>
    <div class="col">
      <h2>{{title}}</h2>
    </div>
  </div>
  
  <div *ngIf="loading && !error" class="error alert alert-info">
    <fa-icon [icon]="loadingIcon" size='lg'></fa-icon><span>{{loadingText}}</span>
  </div>

  <div *ngIf="error && !loading" class="error alert alert-danger">
    <fa-icon [icon]="errorIcon" size='lg'></fa-icon><span>{{errorText}}</span>
  </div>

  <div id="map">
  </div>

</div>

