<div class="container">
    <div class="row">
        <div class="col title-col">
            <h1>{{title}}</h1>
        </div>
        <div class="col backBtn-col">
            <a [routerLink]="['/categories']" class="btn button" [ngClass]="{'daltonic-button' : daltonicMode}">ATRAS</a>
        </div>
    </div>

    <div *ngIf="loading && !error" class="error alert alertMsg loading" [ngClass]="{'daltonic-message' : daltonicMode}">
        <mat-spinner color="accent" diameter='20' [ngClass]="{'daltonic-button' : daltonicMode}"></mat-spinner>
        <p>{{loadingText}}</p>

    </div>

    <div *ngIf="error && !loading" class="error alert alertMsg" [ngClass]="{'daltonic-message' : daltonicMode}">
        <fa-icon [icon]="errorIcon" size='lg' class="iconColor" [ngClass]="{'daltonic-icon' : daltonicMode}"></fa-icon><span>{{errorText}}</span>
    </div>

    <div id="map" [attr.aria-busy]='loading' role='map'>
    </div>

</div>