.text{
  min-height: 160px;
  width: 100%;
  box-sizing:border-box;
  padding-left: 15px;
  padding-top: 10px;
}

.col{
  max-width: 400px;
}

app-spiderweb-chart{
  width: 500px;
}

app-solidgauge-chart{
  max-width: 300px;
}

.graph{
  width: 100%;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 15px;

  app-bar-chart{
    height: 100%;
    width: 100%;
  }
}

.container{
  padding: 10px 20px;
}

.header{
  padding-top: 10px;
}