article{
    padding-bottom: 10px;
}

mat-expansion-panel-header{
    background-color: #2B7A78;
}

mat-expansion-panel{
    margin:0;
    border: solid rgb(34, 99, 97) 1px;
}


.mat-expansion-panel-content{
    background-color: #8FC1E3;
}

