<article>
  <ng-container *ngIf="!getError; else error">
    <mat-sidenav-container *ngIf="basicData; else loading">
      <mat-sidenav mode="side" opened>
        <mat-nav-list>
          <a href="categories"><mat-list-item>Atras</mat-list-item></a>
          <mat-list-item
            [ngClass]="{ selected: option === 'author' }"
            (click)="infoChange('author')"
            >Autores</mat-list-item
          >
          <mat-list-item
            [ngClass]="{ selected: option === 'date' }"
            (click)="infoChange('date')"
            >Fecha Publicación</mat-list-item
          >
          <mat-list-item
            [ngClass]="{ selected: option === 'keyword' }"
            (click)="infoChange('keyword')"
            >Palabras clave</mat-list-item
          >
          <mat-list-item
            [ngClass]="{ selected: option === 'summary' }"
            (click)="infoChange('summary')"
            >Resumen</mat-list-item
          >
          <mat-list-item
            [ngClass]="{ selected: option === 'image' }"
            (click)="infoChange('image')"
            >Imagen de portada</mat-list-item
          >
          <mat-list-item
            [ngClass]="{ selected: option === 'movies' }"
            (click)="infoChange('movies')"
            >Videos</mat-list-item
          >
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <ng-container *ngIf="option === 'author'">
          <ngx-simplebar [options]="options">
            <div class="container author">
              <h2 class="title">Autores</h2>

              <mat-list *ngFor="let author of basicData.authors">
                <mat-list-item>
                  <mat-icon matListIcon>face</mat-icon>
                  <span matLine>{{ author }}</span>
                </mat-list-item>
              </mat-list>
            </div>
          </ngx-simplebar>
        </ng-container>

        <ng-container *ngIf="option === 'date'">
          <div class="container date">
            <h2 class="title">Fecha de publicación</h2>
            <p>{{ basicData.publishDate }}</p>
          </div>
        </ng-container>

        <ng-container *ngIf="option === 'keyword'">
          <ngx-simplebar [options]="options">
            <div class="container keyword">
              <h2 class="title">Palabras clave</h2>
              <mat-list *ngFor="let keyword of basicData.keywords" dense>
                <mat-list-item>
                  <span>{{ keyword }}</span>
                </mat-list-item>
              </mat-list>
            </div>
          </ngx-simplebar>
        </ng-container>

        <ng-container *ngIf="option === 'summary'">
          <ngx-simplebar [options]="options">
            <div class="container summary">
              <h2 class="title">Resumen de la noticia</h2>
              <p>{{ basicData.summary }}</p>
            </div>
          </ngx-simplebar>
        </ng-container>

        <ng-container *ngIf="option === 'image'">
          <div class="container image">
            <h2 class="title">Imagen titular</h2>
            <img [src]="basicData.topImg" />
          </div>
        </ng-container>

        <ng-container *ngIf="option === 'movies'">
          <ngx-simplebar [options]="options">
            <div class="container movies">
              <h2 class="title">Listado de videos</h2>
              <mat-list *ngFor="let movie of basicData.movies">
                <mat-list-item>
                  <mat-icon matListIcon>movie</mat-icon>
                  <span matLine>{{ movie }}</span>
                </mat-list-item>
              </mat-list>
            </div>
          </ngx-simplebar>
        </ng-container>
      </mat-sidenav-content>
    </mat-sidenav-container>

    <ng-template #loading>
      <mat-spinner color="accent"></mat-spinner>
    </ng-template>
  </ng-container>
  <div #error *ngIf="getError" class="error alert alert-danger">
    <span>
      Ha habido un error en el servidor, asegurese de que la URL introducida
      pertece a la noticia o intentelo más tarde
    </span>
  </div>
</article>
