<article>
  <h2>Datos Generales de la noticia</h2>
  <mat-accordion *ngIf="basicData; else loading" [multi]="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Autores
      </mat-expansion-panel-header>

      <mat-list *ngFor="let author of basicData.authors">
        <mat-list-item>
          <mat-icon matListIcon>face</mat-icon>
          <span matLine>{{ author }}</span>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Fecha de publicación
      </mat-expansion-panel-header>

      <span>{{ basicData.publishDate }}</span>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Palabras clave
      </mat-expansion-panel-header>

      <mat-list *ngFor="let keyword of basicData.keywords" dense>
        <mat-list-item>
          <span>{{ keyword }}</span>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Resumen de la noticia
      </mat-expansion-panel-header>

      <p>{{ basicData.summary }}</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Imagen titular
      </mat-expansion-panel-header>

      <img [src]="basicData.topImg" />
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Listado de videos
      </mat-expansion-panel-header>

      <mat-list *ngFor="let movie of basicData.movies">
        <mat-list-item>
          <mat-icon matListIcon>movie</mat-icon>
          <span matLine>{{ movie }}</span>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>

  <ng-template #loading>
    <mat-spinner color="accent"></mat-spinner>
  </ng-template>

  <div [hidden]="!getError" class="error alert alert-danger">
    <span>
      Ha habido un error en el servidor, asegurese de que la URL introducida
      pertece a la noticia o intentelo más tarde
    </span>
  </div>
</article>
