@import "~@mdi/font/css/materialdesignicons.css";

.container {
  padding: 20px 35px;
  margin: 0;
}

.row {
  margin: 0;
}

.backBtn-col {
  max-width: 170px;
  padding: 0;
}

ngx-simplebar {
  height: 450px;
  margin-top: 30px;
  margin-left: 80px;
}

.flex-container {
  text-align: center;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-around;

  .flex-item {
    text-decoration: none;
    color: black;
    width: 200px;
    max-width: 230px;

    mat-card {
      border: solid black 1px;
      background-color: #84ffff;
      margin: 10px 0;
      padding: 0;

      mat-card-header {
        background-color: rgba(0, 0, 0, 0.137);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
        font-size: 1.2rem;
        height: 70px;
      }

      mat-card-content {
        padding: 10px;

        mat-icon {
          transform: scale(2.2);
        }
      }
    }
  }
}
