@import "~material-icons/iconfont/material-icons.css";
$background-color: #F2F5EA;
$navbar-backgorund-color: #D6DBD2;
article {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.error {
    font-size: 1.2rem;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.backBtn-col {
    max-width: 90px;
    padding: 10px 0;
}

.title-col {
    text-align: center;
    width: 444px;
    min-width: 444px;
    padding-top: 10px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9;
}

mat-sidenav {
    background-color: $navbar-backgorund-color;
    font-size: medium;
    .selected {
        background-color: rgba(0, 0, 0, 0.2);
    }
    mat-list-item:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
    .bckBtn {
        color: white;
        margin-bottom: 20px;
        margin-top: 15px;
    }
}

mat-nav-list {
    overflow: hidden;
}

mat-sidenav-container {
    height: 100%;
}

ngx-simplebar {
    width: 100%;
    height: 100%;
}

mat-sidenav-content {
    padding: 2% 5% 2% 5%;
    background-color: $background-color;
    .container {
        height: 100%;
    }
    .author {
        font-size: 1.5rem;
    }
    .date {
        font-size: 2rem;
        text-align: center;
        p {
            padding-top: 150px;
        }
    }
    .keyword {
        font-size: 1.6rem;
    }
    .summary {
        p {
            font-size: 1.1rem;
            padding: 20px 0;
            text-align: center;
        }
    }
    .image {
        text-align: center;
        img {
            max-width: 500px;
            max-height: 400px;
        }
    }
    .movies {
        font-size: 1.6rem;
    }
    .entities {
        overflow: hidden;
        max-height: 600px;
        .entitiesBar {
            max-height: 220px;
        }
        mat-expansion-panel {
            background-color: rgba(0, 0, 0, 0.137);
        }
        .mat-list .mat-list-item {
            height: 25px;
        }
    }
}

mat-spinner {
    background-color: rgb(146, 72, 89);
    border-radius: 20%;
    margin-right: 15px;
}

.loading {
    padding-left: 20px;
    padding-top: 10px;
}