<article>
    <ng-container *ngIf="!getError; else error">
        <mat-sidenav-container *ngIf="basicData; else loading">
            <mat-sidenav mode="side" opened [ngClass]="{'daltonic-message' : daltonicMode}">
                <mat-nav-list role="menubar">
                    <mat-list-item role="menuitem" [ngClass]="{ selected: option === 'image' }" (click)="infoChange('image')">Imagen de portada</mat-list-item>
                    <mat-list-item role="menuitem" [ngClass]="{ selected: option === 'author' }" (click)="infoChange('author')">Autores</mat-list-item>
                    <mat-list-item role="menuitem" [ngClass]="{ selected: option === 'date' }" (click)="infoChange('date')">Fecha Publicación</mat-list-item>
                    <mat-list-item role="menuitem" [ngClass]="{ selected: option === 'summary' }" (click)="infoChange('summary')">Resumen</mat-list-item>
                    <mat-list-item role="menuitem" [ngClass]="{ selected: option === 'keyword' }" (click)="infoChange('keyword')">Palabras clave</mat-list-item>
                    <mat-list-item role="menuitem" [ngClass]="{ selected: option === 'movies' }" (click)="infoChange('movies')">Videos</mat-list-item>
                    <mat-list-item role="menuitem" [ngClass]="{ selected: option === 'entities' }" (click)="infoChange('entities')">Entidades</mat-list-item>
                </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content [ngClass]="{'daltonic-background' : daltonicMode}">
                <ng-container *ngIf="option === 'author'">
                    <ngx-simplebar [options]="options">
                        <div class="container author">
                            <div class="row">
                                <div class="col title-col">
                                    <h1 class="title">{{basicData.title}}</h1>
                                </div>
                                <div class="col backBtn-col">
                                    <a [routerLink]="['/categories']" class="btn button" [ngClass]="{'daltonic-button' : daltonicMode}">ATRAS</a>
                                </div>
                            </div>


                            <mat-list *ngFor="let author of basicData.authors">
                                <mat-list-item>
                                    <mat-icon matListIcon>face</mat-icon>
                                    <span matLine>{{ author }}</span>
                                </mat-list-item>
                            </mat-list>
                        </div>
                    </ngx-simplebar>
                </ng-container>

                <ng-container *ngIf="option === 'date'">
                    <div class="container date">
                        <div class="row">
                            <div class="col title-col">
                                <h1 class="title">{{basicData.title}}</h1>
                            </div>
                            <div class="col backBtn-col">
                                <a [routerLink]="['/categories']" class="btn button" [ngClass]="{'daltonic-button' : daltonicMode}">ATRAS</a>
                            </div>
                        </div>

                        <p>{{ basicData.publishDate }}</p>
                    </div>
                </ng-container>

                <ng-container *ngIf="option === 'keyword'">
                    <ngx-simplebar [options]="options">
                        <div class="container keyword">
                            <div class="row">
                                <div class="col title-col">
                                    <h1 class="title">{{basicData.title}}</h1>
                                </div>
                                <div class="col backBtn-col">
                                    <a [routerLink]="['/categories']" class="btn button" [ngClass]="{'daltonic-button' : daltonicMode}">ATRAS</a>
                                </div>
                            </div>

                            <mat-list *ngFor="let keyword of basicData.keywords" dense>
                                <mat-list-item>
                                    <span>{{ keyword }}</span>
                                </mat-list-item>
                            </mat-list>
                        </div>
                    </ngx-simplebar>
                </ng-container>

                <ng-container *ngIf="option === 'summary'">
                    <ngx-simplebar [options]="options">
                        <div class="container summary">
                            <div class="row">
                                <div class="col title-col">
                                    <h1 class="title">{{basicData.title}}</h1>
                                </div>
                                <div class="col backBtn-col">
                                    <a [routerLink]="['/categories']" class="btn button" [ngClass]="{'daltonic-button' : daltonicMode}">ATRAS</a>
                                </div>
                            </div>

                            <p>{{ basicData.summary }}</p>
                        </div>
                    </ngx-simplebar>
                </ng-container>

                <ng-container *ngIf="option === 'image'">
                    <div class="container image">
                        <div class="row">
                            <div class="col title-col">
                                <h1 class="title">{{basicData.title}}</h1>
                            </div>
                            <div class="col backBtn-col">
                                <a [routerLink]="['/categories']" class="btn button" [ngClass]="{'daltonic-button' : daltonicMode}">ATRAS</a>
                            </div>
                        </div>

                        <img [src]="basicData.topImg" alt="Imágen de la noticia" />
                    </div>
                </ng-container>

                <ng-container *ngIf="option === 'movies'">
                    <ngx-simplebar [options]="options">
                        <div class="container movies">
                            <div class="row">
                                <div class="col title-col">
                                    <h1 class="title">{{basicData.title}}</h1>
                                </div>
                                <div class="col backBtn-col">
                                    <a [routerLink]="['/categories']" class="btn button" [ngClass]="{'daltonic-button' : daltonicMode}">ATRAS</a>
                                </div>
                            </div>

                            <mat-list *ngFor="let movie of basicData.movies">
                                <mat-list-item>
                                    <mat-icon matListIcon>movie</mat-icon>
                                    <span matLine>{{ movie }}</span>
                                </mat-list-item>
                            </mat-list>
                        </div>
                    </ngx-simplebar>
                </ng-container>

                <ng-container *ngIf="option === 'entities'">
                    <ngx-simplebar [options]="options">
                        <div class="container entities">
                            <div class="row">
                                <div class="col title-col">
                                    <h1 class="title">{{basicData.title}}</h1>
                                </div>
                                <div class="col backBtn-col">
                                    <a [routerLink]="['/categories']" class="btn button" [ngClass]="{'daltonic-button' : daltonicMode}">ATRAS</a>
                                </div>
                            </div>

                            <section>
                                <h2>Personas</h2>
                                <mat-list *ngFor="let ent of entities.persons">
                                    <mat-list-item>
                                        <mat-icon matListIcon>fiber_manual_record</mat-icon>
                                        <span matLine>{{ ent }}</span>
                                    </mat-list-item>
                                </mat-list>
                            </section>

                            <section>
                                <h2>Organizaciones</h2>
                                <mat-list *ngFor="let ent of entities.organizations">
                                    <mat-list-item>
                                        <mat-icon matListIcon>fiber_manual_record</mat-icon>
                                        <span matLine>{{ ent }}</span>
                                    </mat-list-item>
                                </mat-list>
                            </section>

                            <section>
                                <h2>Lugares</h2>
                                <mat-list *ngFor="let ent of entities.locations">
                                    <mat-list-item>
                                        <mat-icon matListIcon>fiber_manual_record</mat-icon>
                                        <span matLine>{{ ent }}</span>
                                    </mat-list-item>
                                </mat-list>
                            </section>

                            <section>
                                <h2>Otros</h2>
                                <mat-list *ngFor="let ent of entities.misc">
                                    <mat-list-item>
                                        <mat-icon matListIcon>fiber_manual_record</mat-icon>
                                        <span matLine>{{ ent }}</span>
                                    </mat-list-item>
                                </mat-list>
                            </section>

                        </div>
                    </ngx-simplebar>
                </ng-container>
            </mat-sidenav-content>
        </mat-sidenav-container>

    </ng-container>
    <div #error *ngIf="getError" class="error alert alertMsg" [ngClass]="{'daltonic-message' : daltonicMode}">
        <span>
            Ha habido un error en el servidor, asegurese de que la URL introducida
            pertece a la noticia o intentelo más tarde
        </span>
    </div>

    <ng-template #loading>
        <div class="row loading">
            <mat-spinner color="accent" diameter='20' [ngClass]="{'daltonic-button' : daltonicMode}"></mat-spinner>
            <span>Cargando ...</span>
        </div>
    </ng-template>
</article>