<div class="container">
  <h2>Bienvenido a Transparency Plugin</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="urlInput">Introduzca una URL a analizar</label>
      <input type="url" name="urlInput" #urlField="ngModel" placeholder="Intorduza URL" [(ngModel)]='url' 
      class='form-control'
      [class.field-error]="postError">
    </div>

    <div [hidden]="!postError" class="alert alert-danger">
      {{postErrorMessage}}
    </div>

    <div class="row">
      <div class="col-sm-12 text-center">
        <button type="submit" class='btn btn-primary text-center'>Analizar</button>
      </div>
    </div>
    
  </form>

  <p class="introduction">
    Transparency Plugin es una herramienta que permite analizar noticias presentando
    datos sobre la misma que no son visibles a simple vista. Además, brinda accesibilidad
    a la noticia otorgando modos de visualización aptos para gente con dificultades visuales.
  </p>
</div>

