<div class="crop" [style.width.px]='iconWidth' [title]="polarity">
    <div class="bar" style="width: 280px;">
        <mat-icon class="icon" matListIcon [ngStyle]="{'color':'red'}">mood_bad</mat-icon>
        <mat-icon class="icon" matListIcon [ngStyle]="{'color':'orange'}">sentiment_very_dissatisfied</mat-icon>
        <mat-icon class="icon" matListIcon [ngStyle]="{'color':'yellow'}">sentiment_dissatisfied</mat-icon>
        <mat-icon class="icon" matListIcon [ngStyle]="{'color':'green'}">sentiment_satisfied</mat-icon>
        <mat-icon class="icon" matListIcon [ngStyle]="{'color':'green'}">sentiment_very_satisfied</mat-icon>
    </div>
</div>