/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 600px;
    width: 800px;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: "Verdana", sans-serif;
}

.button {
    background-color: rgb(196, 79, 106);
    font-size: medium;
    color: white;
}

.btn:hover {
    color: white;
    border: solid 2px black;
}

.alertMsg {
    background-color: #D6DBD2;
}

.iconColor {
    color: rgb(146, 72, 89);
}

.daltonic-button {
    background-color: black !important;
}

.daltonic-background {
    background-color: whitesmoke !important;
}

.daltonic-message {
    background-color: silver !important;
}

.daltonic-icon {
    color: #585858 !important;
}

.daltonic-Vhappy-icon {
    background-color: #D3D3D3!important;
    mat-icon {
        color: black !important;
    }
}

.daltonic-happy-icon {
    background-color: #A9A9A9!important;
    mat-icon {
        color: black !important;
    }
}

.daltonic-normal-icon {
    background-color: #808080!important;
    mat-icon {
        color: white !important;
    }
}

.daltonic-sad-icon {
    background-color: #505050!important;
    mat-icon {
        color: white !important;
    }
}

.daltonic-Vsad-icon {
    background-color: #000000!important;
    mat-icon {
        color: white !important;
    }
}

.entity {
    display: inline-flex;
    margin: 2px;
    padding: 5px;
    border-radius: 10px;
    .ent-category {
        background-color: white;
        margin: 2px;
        padding: 4px;
        border-radius: 7px;
        max-height: 32px;
        font-size: 0.8rem;
        align-self: center;
    }
}

.org {
    background-color: rgb(102, 185, 236);
}

.person {
    background-color: rgb(144, 212, 41);
}

.loc {
    background-color: rgb(230, 149, 0);
}

.misc {
    background-color: rgb(165, 165, 165);
}