article {
    height: auto;
    width: auto;
    padding: 20px 40px;
    header {
        text-align: center;
        height: 200px;
        margin-bottom: 20px;
        .row {
            align-items: center;
            .button {
                margin: 10px auto;
            }
        }
    }
    ngx-simplebar {
        height: 350px;
        .text {
            height: 250px;
        }
    }
}

mat-spinner {
    background-color: rgb(146, 72, 89);
    border-radius: 20%;
    margin-right: 15px;
}

.loading {
    padding-left: 20px;
    padding-top: 10px;
}